Colab Tip
  1. 상단에 동물들이 나타나게 하는 설정 : 도구 - 설정 - 기타 - 선호하는 동물 선택(3가지 : 코기, 아기고양이, 게)
  2. 테마(색상) 설정 : 도구 - 설정 - 사이트 - 테마선택
  3. 코드 혹은 텍스트 중 하나를 선택해서 작성 가능 : 셀 하단부에 마우스 커서를 가져가면 선택하는 창이 나옴

 자주 사용하는 단축키
  - 선택된 셀을 실행 : Ctrl + Enter
  - 선택된 셀을 실행 후 다음 셀로 포커스 이동 : Shift + Enter
  - 실행 후 다음줄로 이동 : Alt + Enter
  - 선택모드에서 화살표 방향키 : 셀 포커스를 위 아래로 움직일 수 있음
  - 엔터키 : 편집모드(Vi 편집기와 유사)
  - ESC : 선택모드(Vi 편집기와 유사)
  - 마크다운으로 전환 : Ctrl + M M
  - 코드로 전환 : Ctrl + M Y
  - 저장 : Ctrl + S

  - 코드셀에 줄번호 부여 : Ctrl + M L
  - 바로 윗줄에 셀 생성 : Ctrl + M A
  - 바로 아랫줄에 셀 생성 : Ctrl + M B
  - 셀 삭제 : Ctrl + M D

  - 셀 병합 : (shift를 누른 상태에서 병합을 원하는 셀들을 한번에 다중 선택 후), Shift + M
  - 셀 분할 : (분기를 원하는 부분에 커서를 지정 후), Ctrl + Shift + -

  - 코드가 오래 실행되어 멈추고 싶은경우 : Ctrl+ M + I
  - 위 코드로도 멈추지 않고 작업을 완전종료하고 싶은 경우 : Ctrl + M +.

# Module 2 - Data types, variables, basic input-output operations, basic operators
(모듈2 - 데이터 유형, 변수, 기본 입출력 연산, 기본 연산자)

 - 모듈2에서 학습하고자 하는 내용
    1. 간단한 Python 프로그램을 작성하고 실행하는 방법
    2. Python 리터럴, 연산자 및 표현식
    3. 변수와 이를 지배하는 규칙
    4. 기본적인 입ㆍ출력 작업을 수행하는 방법

# print 함수

  print("Hello, World!")  ←  옆에 있는 print라는 단어는 함수의 이름.
  
  단어가 쓰여지는 것이 항상 함수 이름을 의미하는 것은 아니며 단어의 의미는 해당 단어가 사용된 상황에서 나옴

 - 함수는 컴퓨터 코드의 부분으로 아래와 같이 다음을 수행할 수 있습니다.

   1. 어떠한 효과(텍스트 보내기, 파일 만들기, 이미지 그리기, 사운드 재생 등)를 가져올 수 있음.
   2. 값을 평가하고 이를 함수의 결과로 도출합니다.(값의 예: 값의 제곱근 또는 주어진 텍스트의 길이)

   → Python 함수는 위의 두 가지 작업(효과유발, 값 평가 및 함수 결과로 도출)을 함께 수행할 수 있습니다.


 - 함수는 어디에서 오는가?

   1. 함수는 Python 자체에 있으며 print 함수는 이러한 종류 중 하나임.
   2. 하나 이상의 Python 추가 기능인 모듈에서 나올 수 있음.
      일부 모듈은 Python과 함께 제공되고 다른 모듈은 별도의 설치가 필요할 수
      있으며 어떤 경우든 코드와 연결되어야함.
   3. 프로그램을 더 간단하고 명확하게 만들기 위해 프로그램 내에 원하는 만큼 기능을 직접 작성할 수 있음.
    
---
   다음으로 매우 중요한 함수 구성 요소인 인수가 있음.

개인의 필요에 따라 작업을 수행하는 데 필요한 만큼 인수를 사용함.

＊참고: 모든 숫자에는 0이 포함되며 일부 Python 함수에는 인수가 필요하지 않음

print("Hello, World!")

- 필요한/제공된 인수의 수에도 불구하고 Python 함수는 한 쌍의 괄호 (여는 괄호, 닫는 괄호)가 필요함
- 하나 이상의 인수를 함수에 전달하려면 해당 인수를 괄호 안에 넣어야 하며 인수를 사용하지 않는 함수를 사용하려해도 괄호는 필요함.
  
  ＊ 참고: 일반 단어와 함수 이름을 구별하려면 이름 뒤에 빈 괄호 한 쌍 유무를 확인하면 됨.(이는 표준 규칙임)

- 문자열은 따옴표로 구분되며 실제로 따옴표가 문자열을 만들게 됨

  ＊ 따옴표 안에 넣은 거의 모든 내용은 문자 및 코드가 아닌 데이터라고 이해해야함

함수 이름(이 경우는 print)은 괄호 및 인수와 함께 함수 호출을 구성합니다 .

print("Hello, World!")

Python이 아래와 같은 호출을 만나면 어떻게 될까요?

-> function_name(argument)

- 먼저, Python은 지정된 이름이 유효한지 확인함.
  
  (그 이름의 기존 함수를 찾기 위해 내부 데이터를 탐색
  
    → 이 검색이 실패하면 Python은 코드를 중단함).
- 둘째, Python은 인수 수에 대한 함수의 요구 사항이 함수를 호출할 수 있는지 확인

  (예. 특정 함수가 정확히 두 개의 인수를 요구하는 경우 인수를 하나만 전달하는 호출은 잘못된 것으로 간주 → 코드의 호출을 중단함)
- 셋째, Python은 잠시 동안 코드를 두고 호출하려는 함수로 이동
- 넷째, 함수는 코드를 실행 → 원하는 효과를 발생 → 원하는 결과를 평가 후 작업을 완료
- 마지막으로 Python은 코드 (호출 바로 다음 위치)로 돌아가서 실행을 재개합니다.
  
  ＊ 코드로 돌아가서 코드가 끝난 호출 바로 다음 위치에 가서
     
   실행을 재개할 준비를 함

⛹ 코드실행

- 아래는 프린트 함수에 있어서 큰따옴표의 유무에 따른 실행결과임(작은따옴표 포함)

In [7]:
print("hello, python!!")
print('hello, python!!')
→ 한 셀의 다른 줄로 함수 호출을 해도 문제가 없음

hello, python!!
hello, python!!

In [3]:
print(hello, python!!)
→ 1번째 줄에 문제가 있음을 나타냄

SyntaxError: ignored

In [8]:
print("hello, python!!")
print('hello, python!!')
print(hello, python!!)
→ 3번째 줄에 문제가 있음을 나타냄

SyntaxError: ignored

print () 함수 - 지침

 핵심은 파이썬 코드에 두 개 이상의 명령을 어떻게 결합하는가?
- 대부분의 프로그래밍 언어와 달리 Python에서는 한 줄에 두 개 이상의 명령이 있을 수 없음.

- 한 줄은 비어 있을 수 있지만(즉, 명령어가 전혀 포함되지 않을 수 있음) 2개, 3개 또는 그 이상의 명령어가 포함되어서는 안 되며 이는 엄격히 금지됨.

 ＊ 참고: Python에는 이 규칙에 대한 한 가지 예외가 있음.

　　즉, 하나의 명령어(프린트)가 두 줄 이상에 걸쳐 분산되도록 허용
　　(코드에 복잡한 구성이 포함되어 있는 경우 도움이 됨)

⛹ 코드실행 ⛹

이제 Python 콘솔 값은 아래와 같아야 함.

In [9]:
print("The itsy bitsy spider climbed up the waterspout.")
print("Down came the rain and washed the spider out.")

1. 함수를 두 번 호출하며 print() 콘솔에서 두 개의 별도 라인을 볼 수 있으며 시작할 때마다 새 라인에서 출력을 시작
2. 각 print()호출에는 인수와 콘솔 내용이 이를 반영하는 다른 문자열이 포함됨
3. 이는 코드의 명령이 소스 파일에 배치된 것과 동일한 순서로 실행된다는 의미
4. 이전 명령이 완료될 때까지 다음 명령은 실행되지 않음

The itsy bitsy spider climbed up the waterspout.
Down came the rain and washed the spider out.

 ⛹ 코드실행 ⛹

  print() 함수 호출을 하나 추가함

함수에 인수를 전달하지 않았기 때문에 이를 비어 있다고 함.

이것이 출력 콘솔에서 개행문자를 생성하는 유일한 방법은 아님.


---


＊ 개행 : 정보·통신 인쇄 위치 또는 표시 위치를 다음 행의 같은 위치로 움직이는 일.

＊ 개행문자 : 전산 인쇄 위치 또는 표시 위치를 다음의 행으로 옮기는 데 사용되는 문자.

In [10]:
print("The itsy bitsy spider climbed up the waterspout.")
print()
print("Down came the rain and washed the spider out.")

두번째 줄의 빈 print()호출은 빈칸 한 줄을 생성할 수 있음

The itsy bitsy spider climbed up the waterspout.

Down came the rain and washed the spider out.

In [11]:
print("The itsy bitsy spider climbed up the waterspout.")
print("Down came the rain and washed the spider out.")

The itsy bitsy spider climbed up the waterspout.
Down came the rain and washed the spider out.

print () 함수 - 이스케이프 및 개행 문자

 ⛹ 코드실행 ⛹

 운율 안에 다음과 같은 별도의 문자 쌍을 삽입함.

 ( \n.: 백슬래시 뒤에 있는 n은 newlinen 이라는 단어에서 유래)

 ＊ 백슬래시( \)는 문자열 내부에서 사용될 때 매우 특별한

 　의미를 갖는데 이를 이스케이프 문자라고 함

In [12]:
print("The itsy bitsy spider\nclimbed up the waterspout.")
print()
print("Down came the rain\nand washed the spider out.")

백슬래시와 n은 모두 개행 문자 라는 특수 기호를 형성하며, 이는 콘솔이 새 출력 행을 시작하도록 함

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

In [23]:
print("\")

문자열 안에 백슬래시 하나만 넣는 호출은 오류를 발생
＊ 백슬래시하나로 개행문자를 만들수는 없음

SyntaxError: ignored

In [21]:
print("\\")

문자열 안에 백슬래시를 두배로 늘리면 문제 없음

\

print () 함수 - 여러 인수 사용

지금까지는 print()를 하나의 인수를 사용하여 함수 동작을 테스트

 했으며 지금부터는 둘 이상의 인수를 print() 함수에 적용

  ⛹ 코드실행 ⛹

  - 하나 print()의 함수 호출이 있지만 세 개의 인수가 포함되어 있으며 모두 문자열임(인수는 쉼표로 구분)

- 인수를 구분하는 쉼표는 문자열 내부의 쉼표와 완전히 다른
  역할을 함.
  
  ＊인수를 구분하는 쉼표는 Python 구문의 일부이고 문자열
  
  　내부 쉼표는 콘솔에 표시

In [24]:
print("The itsy bitsy spider" , "climbed up" , "the waterspout.")

- print()둘 이상의 인수로 호출된 함수는 해당 인수를 모두 한 줄에 출력
- 함수 print()는 자체적으로 출력된 인수 사이에 공백을 넣습니다.
  * 기존 각각의 인수인 문자열에는 공백이 없음(큰따옴표 사이에 공간이 없다는 의미)
  * 그러나 콘솔로 출력된 후에는 각 인수(문자열) 사이에 공백(띄어쓰기)이 생김

The itsy bitsy spider climbed up the waterspout.

print () 함수 - 인수를 전달하는 위치 방식

print() 를 변경하는 방법
- 함수에 인수를 전달하는 방식은 Python에서 가장 일반적이며 위치 방식으로 정의함

　　＊ 이는 인수의 의미가 위치에 따라 결정된다는 사실에서 유래

  ⛹ 코드실행 ⛹

In [25]:
print("My name is", "Python.")
print("Monty Python.")

두 번째 인수는 다음과 같습니다. 반대 방향이 아닌 첫 번째 이후에 출력됨.

My name is Python.
Monty Python.


print () 함수 - 키워드 인수

Python은 인수 전달을 위한 또 다른 메커니즘을 제공하는데,
이는 함수의 동작을 약간 변경시 도움이됨 이를 키워드 인수라고 함

- 키워드 인수는 세 가지 요소로 구성됨.
  
  → 인수를 식별하는 키워드 end ( 여기); 등호 ( ) = ;  해당 인수에 할당된 값 ;
- 모든 키워드 인수는 마지막 위치 인수 뒤에 와야 함(중요).

아래 예에서는 키워드 인수(end)를 사용하고 공백 하나를 포함하는 문자열로 설정

  ⛹ 코드실행 ⛹

In [26]:
print("My name is", "Python.", end=" ")
print("Monty Python.")

 Monty Python.이 다음줄에 출력되는 것이 아니라 같은줄에 출력됨
 end키워드 인수는 print() 함수가 위치 인수 끝에 도달한 후 출력으로 보내는 문자를 결정

My name is Python. Monty Python.

In [29]:
print("My name is ", end="")
print("Monty Python.")

end 주의 깊게 살펴보면 인수를 사용했지만 여기에 할당된 문자열은 비어 있음(문자 미포함).
인수 end가 없음으로 설정되었으므로 print()위치 인수가 소진되면 함수도 아무것도 출력하지 않음

My name is Monty Python.

In [30]:
print("My", "name", "is", "Monty", "Python.", sep="-")

함수가 출력된 인수를 공백으로 구분하기에 동작도 변경될 수 있음
이를 수행할 수 있는 키워드 인수는 이름이 지정됨(예sep : Separator/인수와 인수 사이에 들어갈 어떠한 문자를 의미).

My-name-is-Monty-Python.

In [31]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")

두 키워드 인수를 하나의 호출로 혼합 하는 경우

My_name_is*Monty*Python.*

# 리터럴 - 데이터 자체
리터럴 : 리터럴 자체에 의해 값이 결정되는 데이터
(예. 123과 c : 123은 123으로 나타나고 c는 적분상수 및 빛의 속도 등으로 나타낼 수 있음)

→ 123은 문자 그대로이고 c는 그렇지 않음

리터럴을 사용하여 데이터를 인코딩하고 이를 코드에 넣습니다.

  ⛹ 코드실행 ⛹

In [32]:
print("2")
print(2)

이 예를 통해 두 가지 유형의 리터럴을 접하게 됨.이미 알고 있는 string(문자열을 다루는), 그리고 정수 이는 완전히 새로운 것.
내부적으로 컴퓨터 메모리에서 이 두 값은 완전히 다른 방식으로 저장됨.

2
2

정수

현대 컴퓨터가 처리하는 숫자는 두 가지 유형이 있음
- 정수 , 즉 소수 부분이 없는 정수;
- 소수 부분을 포함하거나 포함할 수 있는 부동 소수점 숫자(또는 단순히 floats)

그 종류, 범위, 용도를 결정하는 숫자값의 특성을 유형이라고 함

리터럴을 인코딩하여 Python 코드 내에 배치하는 경우

리터럴의 형식에 따라 Python이 이를 메모리에 저장하는 데 사용할 표현(유형)이 결정됨.

 - Python은 숫자 안에 숫자가 아닌 문자를 삽입하면 안됨.

   숫자 리터럴에 밑줄을 사용시에는 가능.
   
   ＊ 11,111,111(X), 11.111.111.(X), 11 111 111(X)


  - 이 번호를 다음과 같이 쓸 수 있다
    
     → 11111111, 또는 다음과 같이: 11_111_111
  
  - 음수를 코딩 시 : 평소와 같이 - 마이너스를 추가
    
     → -11111111, 또는 -11_111_111
  - 양수 앞에 더하기 기호를 붙일 필요는 없지만 원하는 경우  
  
     → +11111111및 11111111.
        
Python 3.6에서는 숫자 리터럴에 밑줄을 도입하여 숫자
사이와 기본 지정자 뒤에 단일 밑줄을 배치하여 가독성을 향상시켰으며 이 기능은 이전 버전의 Python에서는 사용불가

정수: 8진수 및 16진수

Python에는 수학 세계에 알려지지 않은 두 가지 추가 규칙이 있습니다.
- 첫 번째 방법 8진수 사용
   
   ＊ 숫자 앞에 0O또는 0o접두사(0-o)가 오면 8진수 값으로 처리
- 두 번째 방법 16 진수를 사용
  
  ＊숫자 앞에는 접두사 0x또는 0X(zero-x)가 오면 16진수 값으로 처리

    ⛹ 코드실행 ⛹

In [33]:
print(0o123)
print(0x123)

이 print()함수는 자동으로 변환을 수행함.

83
291

실수(Floats)

소수점 이하 소수 부분이 있는(또는 가질 수 있는) 숫자의 경우


컴퓨터가 부동 소수점 숫자로 간주함

- 2.5 값만 사용하고 싶다면 쉼표가 아닌 점으로 써야함.

- 소수점 앞이나 뒤의 유일한 숫자인 경우 0 생략가능
  
  ＊ 0.4 = .4 ,  4.0 = 4.

정수대 부동 소수점

- 4(정수)

- 4.0(부동 소수점)

　　＊ 파이썬은 위 두 숫자들을 완전히 다른 방식으로 봅니다.
- 예) 300000000은 3x10의8제곱으로 표현되며 파이썬에서는 　3E8로도 표현가능함

　　＊ 문자E는 10의 거듭제곱이라는 뜻


코딩 플로트

매우 작은 숫자(0에 가까운 절대값이라는 의미에서)기록 시 사용
- 6.62607 x 10 -34이라는 숫자를 프로그램에서 사용 시 6.62607E-34 라고 작성해야함.

In [34]:
print(0.0000000000000000000001)

0.0000000000000000000001 ← 이 부동소수점 리터럴을 사용하기로 결정 시 콘솔값은 1e-22

1e-22

문자열

텍스트를 처리하는 문자열에는 따옴표가 필요함.
이미 따옴표로 구분된 문자열 안에 따옴표를 인코딩 할 때

예제 : I like "Monty Python"

   ⛹ 코드실행 ⛹

In [35]:
print("I like \"Monty Python\"")

첫 번째 방법 : 이스케이프 문자 개념으로 한 백슬래시(\)
백슬래시 다음에 오는 따옴표는 의미를 변경해 주고 이는 구분 기호가 아니라 단지 따옴표일 뿐으로 해석하면 됨

I like "Monty Python"

In [36]:
print('I like "Monty Python"')

두 번째 방법 : 따옴표 대신 아포스트로피를 사용(일관성을 유지해야 함, 따옴표로 문자열을 열면 따옴표로 닫아야 함)

I like "Monty Python"

부울 값

Python에 한 숫자가 다른 숫자보다 큰지 물어볼 때마다 그 질문으로 인해 특정 데이터인 부울 값이 생성됨.

＊ 이와같이 표시됨 : True / False / 1 / 0

프로그래머는 프로그램을 작성하고, 프로그램은 질문을 합니다. Python은 프로그램을 실행하고 답변을 제공함

- 그래 이건 사실이야.
- 아니요, 이것은 거짓입니다.

In [37]:
print(True > False)
print(True < False)

True
False

# 연산자 - 데이터 조작 도구

지금부터는 연산자와 표현의 영역임.

＊연산자 : 값에 대해 연산을 수행할 수 있는 프로그래밍 언어의 상징

 ＊가장 널리 알려진 산술 연산과 관련된 연산자 : +, -, *, /, //, %, **

 데이터와 연산자가 함께 연결되면 표현식이 형성되며

 가장 간단한 표현은 리터럴 그 자체임.

 산술 연산자: 지수화

( **이중 별표) 기호는 지수 (제곱) 연산자, 왼쪽 인수는 밑수 , 오른쪽 인수 는 지수입니다.

   ⛹ 코드실행 ⛹

In [38]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)


이 결과를 바탕으로 다음 규칙을 공식화하는 것이 가능
- 두 인수가 모두 정수 이면 **결과도 정수입니다.
- 하나 이상의 인수가 부동 소수점 이면 **결과도 부동 소수점입니다.

8
8.0
8.0
8.0

산술 연산자 : 곱셈

( 별표 *) 기호는 곱셈 연산자입니다.

   ⛹ 코드실행 ⛹

In [39]:
print(2 * 3)
print(2 * 3.)
print(2. * 3)
print(2. * 3.)

6
6.0
6.0
6.0


산술 연산자 : 나눗셈

/(슬래시) 기호는 나눗셈 연산자 입니다 .

＊슬래시 앞의 값은 피제수, 슬래시 뒤의 값은 제수

   ⛹ 코드실행 ⛹

In [40]:
print(6 / 3)
print(6 / 3.)
print(6. / 3)
print(6. / 3.)

나누기 연산자에 의해 생성된 결과는 항상 부동 소수점임

2.0
2.0
2.0
2.0


산술 연산자: 정수 나누기

정수 나누기 연산자 기호 : ( 이중 //슬래시)

두 가지 세부 사항에서 표준 연산자와 다름( / 슬래시)

- 그 결과에는 소수 부분이 없습니다. 분수 부분이 없거나 항상

 0과 같음. 이는 결과가 항상 반올림됨을 의미함.
- 이는 정수 대 부동 소수점 규칙을 따른다.

   ⛹ 코드실행 ⛹

In [41]:
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

보시 다시피 정수를 정수로 나누면 정수 결과가 나옴. 다른 모든 경우에는 실수가 생성됨

2
2.0
2.0
2.0

In [42]:
print(6 // 4)
print(6. // 4)

결과 하나는 정수이고 하나는 부동소수점임.

정수 나누기의 결과는 항상 실제(반올림되지 않은)결과보다 작은 가장 가까운 정수 값으로 반올림된다.
(중요 : 반올림은 항상 더 작은 정수로 진행됨)

1
1.0

In [43]:
print(-6 // 4)
print(6. // -4)

-1.5두 경우 모두 실제(반올림되지 않은) 결과가 나타나며, 결과는 반올림 대상임
반올림은 더 작은 정수 값 쪽으로 진행되기에 더 작은 정수 값은 -2

-2
-2.0

연산자: 나머지(모듈러)

연산자의 결과는 정수 나누기 후에 남은 나머지

＊ Python의 그래픽 표현은 %(퍼센트) 기호

즉, 정수 몫을 생성하기 위해 한 값을 다른 값으로 나눈 후 남은 값

   ⛹ 코드실행 ⛹

In [44]:
print(14 % 4)

14 // 4, 3→ 이것은 정수 몫임. 3 * 4몫과 제수 곱셈12 의 결과로 →를 제공함. 14 - 12 준다(뺀다) 2 → 이것이 나머지 이다 .

2

In [45]:
print(12 % 4.5)

12 // 4.5제공 2.0; 이후 2.0 * 4.5 곱을해서 9.0이 나옴 12 - 9.0를 뺀 나머지는 3.0

3.0

연산자: 추가

더하기 연산자는(더하기) 기호로 ,+ 이는 수학적 표준과 완전 일치함.

In [46]:
print(-4 + 4)
print(-4. + 8)

0
4.0

빼기 연산자, 단항 및 이항 연산자

빼기 연산자는 분명히 (빼기) 기호이나, 이 연산자에는 다른 의미도 있다는 점에 유의해야 함.

즉, 숫자의 기호를 변경할 수 있음.

In [47]:
print(-4 - 4)
print(4. - 8)
print(-1.1)

뺄셈 연산자는 덧셈, 곱셈, 나눗셈 연산자와 마찬가지로 이항 연산자 중 하나로 간주되나
다른(단항) 방식으로 사용될 수 있음.(가장 마지막 줄인 print -1.1))

-8
-4.0
-1.1

운영자 및 우선순위
- 일부 운영자가 다른 운영자보다 먼저 행동하게 만드는 현상을 우선 순위 계층 이라고 함
  
  ＊ 2 + 3 * 5 에서 *가 +보다 우선순위가 높다는 것

연산자 및 해당 바인딩

- 연산자 바인딩은 우선 순위가 동일한 일부 연산자가 하나의

   표현식에 나란히 배치되어 수행되는 계산 순서를 결정
  
  ＊ print(9 % 6 % 2)의 경우
  
  　 왼쪽에서 오른쪽으로: 먼저 9 % 6를 주고 3, 그 3 % 2다음 1;
  　(오른쪽에서 왼쪽으로 수행 시 오류를 발생)

연산자 및 해당 바인딩 : 지수화

실험을 반복하되 이제는 지수화를 사용합니다.

- 아래 코드의 예상가능한 결과 값 두 가지

 ＊ 2 ** 2 → 4; 4 ** 3 → 64

 ＊ 2 ** 3 → 8; 2 ** 8 → 256

In [48]:
print(2 ** 2 ** 3)

결과는 지수 연산자가 오른쪽 바인딩을 사용한다는 것을 보여줌

256

우선순위 목록

우선사항　　　운영자
 1	　　　　　**
 2	　　　　　+, -　(거듭제곱 연산자 오른쪽 옆에 있는 단항
  　　　　　　　　　연산자가 더 강하게 바인딩됨.)
 3	　　　　　*, /, //, %
 4	　　　　　+, -

 참고: 우선순위가 가장 높은 것(1)부터 가장 낮은 것(4)까지 순서 대로 연산자를 나열함.

In [49]:
print(2 * 3 % 5)

두 연산자( *및 %) 모두 우선순위가 동일하므로 바인딩 방향을 알아야만 결과를 추측 가능

1

연산자 및 괄호

- 산술 규칙에 따라 괄호 안의 하위 표현식이 항상 먼저 계산되며

- 괄호는 필요한 만큼 사용가능, 연산 순서를 변경하지 않더라도

    표현식의 가독성을 높이기 위해 자주 사용.

In [50]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

# 변수
산술 연산 등 작업 을 여러 번 수행 후 중간 결과를 저장하고

이를 다시 사용하여 후속 결과를 생성할 때 이 목적을 위해 특별한

 "상자"(컨테이너)를 제공하며 이러한 상자를 변수라고 지칭함

모든 Python 변수에 포함되어 있는 것
- 이름
- 값(컨테이너의 내용)

변수는 프로그램에 자동으로 나타나지 않으며 개발자는 프로그램에 사용할 변수 수와 변수를 결정해야 함(이름도 지정필요).

변수에 이름을 지정하기 위해선 몇 가지 엄격한 규칙을 따라야 함

- 변수명은 대문자 또는 소문자, 숫자, 문자 _(밑줄)로 구성
- 변수 이름은 문자로 시작
- 밑줄 문자는 문자
- 대문자와 소문자는 서로 다르게 처리됨
  
  ＊ 실제 세계와는 약간 다릅니다. Alice 와 ALICE 는 동일한 이름이지만 Python에서는 두 개의 다른 변수 이름이므로 결과적으로 두 개의 다른 변수임).
- 변수 이름은 Python의 예약어가 아니어야 함

<올바른 변수 이름과 잘못된 변수 이름>

- 함수 이름에도 동일한 제한 사항이 적용

- Python은 변수 이름의 길이에 제한을 두지 않음

아래는 정확하지만 항상 편리한 변수 이름은 아님

＊ MyVariable, i, t34, Exchange_Rate, counter, days_to_christmas, TheNameIsSoLongThatYouWillMakeMistakesWithIt, _.

Python에서는 라틴 문자뿐만 아니라 다른 알파벳을 사용하는 언어에 특정한 문자도 사용가능

＊ Adiós_Señora, sûr_la_mer, Einbahnstraße, переменная.

<키워드>

모든 Python 프로그램에서 매우 특별한 역할을 하는 단어 목록

＊ ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- 이를 키워드 또는 예약 키워드 라고 하며, 변수나 함수,

   생성하려는 다른 명명된 엔터티에 대해 이름으로 사용하면
   
   안 되기 때문에 예약되어 있음.
   
   ＊ 예약어의 의미는 미리 정의되어 있어 변경불가
   
   ＊  Python은 대소문자를 구분하므로 대소문자를 변경하여
   
   이러한 단어를 수정가능 → 더 이상 예약되지 않은 새 단어 생성

- 지정할 수 없는 금지된 변수 이름을 대신 할 수 있음
  
  ＊ import → Import(I를 대문자로 변경)

변수 생성(변수의 값은 변수에 입력한 값)

변수가 생성되는 방법 과 그 안에 값을 넣는 방법

- 변수는 값을 할당한 결과로 존재하기 때문에 다른 언어와 달리 특별한 방법으로 선언 불필요

- 존재하지 않는 변수에 값을 할당하면 해당 변수가 자동으로

    생성 되기에 다른 작업을 수행 불필요

- 생성(또는 구문)은 매우 간단함. 원하는 변수의 이름을 사용한 다음 등호(=)와 변수에 입력하려는 값을 사용

In [52]:
var = 1
print(var)

이는 두 가지 간단한 지침으로 구성
- 첫 번째는 var이라는 변수를 생성하고 1와 같은 정수 값을 가진 리터럴을 할당.
- 두 번째는 새로 생성된 변수의 값을 콘솔에 인쇄

1

변수사용

다음과 같이 목표를 달성하는 데 필요한 만큼 변수 선언을 사용가능

In [53]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

존재하지 않는 변수 (즉, 값이 할당되지 않은 변수)는 사용할 수 없

1 1000.0 John Doe
1

In [54]:
var = 1
print(Var)

이 예에서는 오류가 발생.(참고: var및 Var은 다른 엔터티이며 Python에 관한 한 공통점이 없음).

NameError: ignored

이미 존재하는 변수에 새 값 할당

이미 생성된 변수에 새 값을 어떻게 할당할까?

같은 방법으로. 등호만 사용하면 됨

＊ 등호는 실제로 할당 연산자 임

In [55]:
var = 1
print(var)
var = var + 1
print(var)

1
2

In [56]:
var = 100
var = 200 + 300
print(var)

500- 왜? 먼저 var변수가 생성되어 값 100이 할당됨
그런 다음 동일한 변수에 새 값이 할당됨. 즉, 200을 300에 더한 결과인 500이 콘솔 값.

500

바로가기 연산자

- 일련의 연속적인 2제곱 값을 계산해야 하는 경우

다음과 같은 조각을 사용 → x = x * 2

- 다음과 같은 표현을 사용할 수 있음 → sheep = sheep + 1


- Python은 다음과 같이 코딩할 수 있는 이와 같은 작업을  
  작성하는 단축된 방법을 제공
→ x *= 2 / sheep += 1

If op는 두 개의 인수를 갖는 연산자(매우 중요한 조건)이고 연산자는 다음과 같은 맥락에서 사용
- variable = variable op expression

   → 단순화 하여 표시 variable op= expression

# 코드에 주석 남기기: 이유, 방법, 시기

주석 : 프로그램에 삽입되어 런타임 시 생략되는 주석

＊ #Python에서 주석은 (해시) 기호로 시작하고 줄 끝까지 확장되는 텍스트 조각

＊여러 줄에 걸쳐 주석을 달고 싶다면 모든 줄 앞에 해시를 넣어야 함

In [58]:
# This program evaluates the hypotenuse c.
# a and b are the lengths of the legs.
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5  # We use ** instead of square root.
print("c =", c)

c = 5.0

# 입력 함수

input()함수는 사용자가 입력한 데이터를 읽고

 동일한 데이터를 실행 중인 프로그램에 반환할 수 있음

 ＊ 프로그램은 데이터를 조작해 코드를 대화형으로 만들 수 있다.

 메모:

- 프로그램은 사용자에게 콘솔에서 일부 데이터를 입력하라는 메시지를 표시함(대부분 키보드를 사용. 음성이나 이미지를 사용해 데이터를 입력가능).
- 함수 input()는 인수 없이 호출됩니다(함수를 사용하는 가장 간단한 방법). 이 기능은 콘솔을 입력 모드로 전환함.

 깜박이는 커서가 표시되고 몇 가지 키 입력을 입력할 수 있으며 Enter 키를 눌러 작업을 마무리합니다. 입력된 모든 데이터는 함수 결과를 통해 프로그램으로 전송 됩니다 .
- 참고: 결과를 변수에 할당해야 합니다. 이는 매우 중요함. 이 단계를 놓치면 입력한 데이터가 손실됨.
- 이후 함수를 사용해 print()몇개의 추가 설명과 함께 얻은 데이터를 출력함

In [59]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
really?
Hmm... really? ... Really?

인수가 있는 input () 함수

이 호출 변형은 input()코드를 단순화하고 더 명확하게 만듬

In [60]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

함수 input()는 하나의 인수로 호출되며 이는 메시지를 포함하는 문자열임
사용자에게 아무것도 입력할 수 있는 기회가 주어지기 전에 메시지가 콘솔에 표시되며 input()그러면 그 일을 할 것입니다.

Tell me anything...Tell me anything
Hmm... Tell me anything ...Really?

input() 함수 의 결과

함수 의 결과 input()는 string 임.

In [62]:
anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

즉, 이 데이터 를 산술 연산의 인수로 사용해서는 안 됨.(숫자로 사용하면 안됨)
예를 들어 이 데이터를 사용하여 제곱하거나 다른 항목으로 나누거나 다른 항목으로 나눌 수 없습니다.

Enter a number: 2.0

TypeError: ignored

input () 함수 - 금지된 작업

In [63]:
Traceback (most recent call last):
File ".main.py", line 4, in <module>
something = anything ** 2.0
TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'

문장의 마지막 줄이 모든 것을 설명합니다.
**와 함께 (문자열)에 연산자를 적용하려고 했습니다 .'str''float' 이는 금지되어 있음.

SyntaxError: ignored

타입 캐스팅

Python은 데이터 유형을 지정하고
이 문제를 해결하기 위한 두 가지 함수를 제공합니다.
→ int(), float()

- 함수 int() : 하나의 인수 (예: 문자열: int(string))를 취하고 이를 정수로 변환하려고 시도하며 실패하면 전체 프로그램도 실패함
- 함수 float() : 하나의 인수(예: 문자열: float(string))를 취하고 이를 부동 소수점으로 변환하려고 시도함(나머지는 동일).

In [64]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

유효한 숫자를 입력하는 것이 필요하며 크고 작은 값, 음수 및 양수 등 다양한 값을 확인 할 수 있다.

Enter a number: 0
0.0 to the power of 2 is 0.0

In [65]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: 10
10.0 to the power of 2 is 100.0

In [66]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: -10
-10.0 to the power of 2 is 100.0

input() 및 유형 캐스팅 에 대한 추가 정보

빗변의 길이를 구하는 이전 프로그램을 참조합니다.

이를 다시 작성하여 콘솔에서 다리 길이를 읽을 수 있도록 하자.

In [67]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

음수를 넣었음에도 오류에 반응하지 않습니다.(여기서 일단 이 오류는 무시)

Input first leg length: -1
Input second leg length: 2
Hypotenuse length is 2.23606797749979

In [68]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is", (leg_a**2 + leg_b**2) ** .5)

편집기에서 볼 수 있는 프로그램에서 hypo변수는 인접한 코드 줄 실행 사이에 계산된 값을 저장하는 한 가지 목적으로만 사용됨.
print()함수가 표현식을 인수로 허용 하므로 코드에서 변수를 제거 할 수 있습니다.

Input first leg length: -1
Input second leg length: 2
Hypotenuse length is 2.23606797749979

연쇄

(더하기) 기호 +는 두 문자열에 적용될 때 연결 연산자가 됨.

＊ 산술 형제와 달리 연결 연산자는 교환 가능하지 않다.

＊ 즉, "ab" + "ba"는 "ba" + "ab"와 동일하지 않음.

＊ 부호를 + 가 아닌 연결자로 만들고 싶다면 두 인수가 모두
   
  　문자열인지 확인해야함

In [70]:
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

문자열을 연결하는데 +를 사용하면 end= 및 sep= 키워드 인수로 보강된 경우에도 순수 print() 함수를 사용하는 것보다 더 정확한 방식으로 출력을 구성할수 있음.

May I have your first name, please? SeungJo
May I have your last name, please? Beom
Thank you.

Your name is SeungJo Beom.

복제

( 별표 *) 기호는 문자열과 숫자에 적용될 때 복제 연산자가 됨.

＊ string * number / number * string

예를 들어:

- "James" * 3준다 → "JamesJamesJames"
- 3 * "an"준다 → "ananan"
- 5 * "2"(또는 "2" * 5) 제공 → "22222"(아님 10!)

유형 변환: str()

문자열을 숫자로 변환하기 위해 int() 및 float() 함수를 사용하고

 숫자를 문자열로 변환 할 수도 있는데, 이는 훨씬 쉽고 안전함
＊ 이를 수행할 수 있는 함수 : str()